__pycache__/
jupyter_test_env
sentence-transformer-models

*.db
*.faiss
*.ipynb
*.numbers
*.sh
*.xlsx
*.env
*.json

conversion_table.txt

local_config.py
test_main.py

.venv

#Resources for DB creation
helper_scripts/res